.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 1000;
  position: fixed;

  left: 0;

  font-size: 1.2rem;
  font-weight: bold;

  background: rgb(250, 91, 91);
  color: white;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  width: 100%;

  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 50px;
  margin-left: auto;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);

  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: rgb(250, 91, 91);
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
  }
}
