.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  border-radius: 15px;

  min-height: 500px;
  width: 50%;

  padding: 20px;

  background: #2c2c2c;

  box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.8);

  h1 {
    position: absolute;
    top: 20px;
  }
}
