.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  min-height: 500px;

  width: 500px;

  margin: 0 auto;

  border-radius: 15px;

  background: #2c2c2c;
}
