.display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 20px;

  width: 50%;
  height: 50%;

  min-height: 500px;

  margin: 0 auto;

  border-radius: 15px;

  background: #2c2c2c;

  resize: horizontal;

  overflow: auto;

  h1 {
    position: absolute;
    top: 20px;
  }

  box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.8);
}

.data-p {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
  width: 100%;
  text-align: left;
  border-radius: 10px;

  flex-wrap: wrap;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}
