.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  min-height: 500px;

  width: 500px;

  margin: 0 auto;

  border-radius: 15px;

  background: #2c2c2c;

  p {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    width: 100%;
    text-align: left;
    border-radius: 10px;
  }
}
