.skeleton {
  background-color: #bcbcbc;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
